
.country_list{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #00A1FA;
    margin-top: 10px;
    padding: 10px;
}
.country_item{
    width: calc(80% / 6);
    display: flex;
   /* align-items: center;
    justify-content: center;*/
}
.country_h{
    display: flex;
   /* flex-direction: column;*/
    align-items: center;
    justify-content: center;
    color:black;
}
.country_img{
    width: 100%;
    max-width: 42px;
    max-height: 50px;
    display: flex;
    margin-bottom: 10px;
}

.country_title {

    margin-left: 10px;



}

.country_title.active {

    font-weight: 800;
}

@media (max-width: 900px){
    .country_item{
        width: calc(80% / 2);
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .country_list{
        margin-left:10px;
        margin-right: 10px;
    }
    .country_img {
        max-width: 26px;
    }
    .country_title {
        margin-top:-9px;

    }
    .country_h2 {
        margin-left:10px;
    }




}




/*.brend_spisok_element_box  {*/
     /*width: 200px;*/
     /*display: inline-block;*/
     /*margin: 15px;*/
     /*text-align: center;*/
 /*}*/

.brend_spisok_box {
    padding-top: 10px;
}

.brend_spisok_element_box .img_box{
    width: 200px;
}

.brend_spisok_element_box .img_box img,
.brend_spisok_block .brend_spisok_alfavit .alfavit {
    width: 100%;
}

.brend_spisok_block .brend_spisok_alfavit .title {
    font-size: 14px;
    margin-bottom: 20px;
}

.brend_spisok_block .brend_spisok_alfavit .alfavit .alfavit__item {
    display: block;
    float: left;
    width: 40px;
    text-align: center;
    border: 1px solid #00A1FA;
    color: #00A1FA;
    margin-right: 8px;
    margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
}
/*.brend_spisok_block .brend_spisok_alfavit .alfavit .alfavit__item:nth-child(9n) {*/
    /*margin-right: 0;*/
/*}*/
.brend_spisok_block .brend_spisok_alfavit .alfavit .alfavit__item:hover {
    /*background-color: rgba(138, 183, 90, .2);*/
    background-color: #00A1FA;
    color: #fff;
}

.brend_spisok_block .brend_spisok_alfavit .alfavit .alfavit__item:active {
    background-color: #0095e6;
}


.brend_spisok_block .brend_spisok_alfavit .alfavit .active,
.brend_spisok_block .brend_spisok_alfavit .alfavit .active:hover{
    background-color: #00a1fa;
    color: #fff;
    cursor: default;
}

.brend_spisok_element_block {
    padding-top: 20px;
}

.brend_spisok_element_block:after,
.brend_spisok_element_block:before {
    content: '';
    display: table;
    clear: both;
}


.brend_spisok_element_block .brend_spisok_element_box:hover {
    box-shadow: 0px 0px 7px 0 #00000020;
}

.brend_spisok_element_block .brend_spisok_element_box:hover .img_box .bg_img {
}

.brend_spisok_element_block .brend_spisok_element_box:active .img_box .bg_img {
}

.brend_spisok_element_block .brend_spisok_element_box:hover .name .brand {
    color: #0095e6;
}

.brend_spisok_element_block .brend_spisok_element_box:active .name .brand {
    color: #0085cc;
}

.brend_spisok_element_block .brend_spisok_element_box .img_box {
    width: 100%;
    height: 110px;
    margin: 0 auto;
}

.brend_spisok_element_block .brend_spisok_element_box .img_box .bg_img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: ease-out .3s;
}

.brend_spisok_element_block .brend_spisok_element_box .name {
    height: 64px;
    padding-top: 15px;
    font-size: 14px;
}

.brend_spisok_element_block .brend_spisok_element_box .name .brand {
    color: #00A1FA;
    font-weight: bold;
    text-transform: uppercase;
    transition: ease-out .3s;
}

.brend_spisok_element_block .brend_spisok_element_box .name .country {
    color: #1e1e1e;
}
.brend_spisok_element_block .brend_spisok_element_box {
    display: block;
    float: left;
    height: auto;
    padding: 10px;
    border: 1px solid #edf5ff;
    text-align: center;
    transition: .3s ease-out;
}

@media all and (min-width: 769px){
.brend_spisok_element_block .brend_spisok_element_box {
    margin-bottom: 25px;
    height: 220px;
}

    .brend_spisok_element_block .brend_spisok_element_box {
        width: calc( 20% - 12px );
        margin-bottom: 15px
    }

    .brend_spisok_element_block .brend_spisok_element_box:nth-of-type(5n+1),
    .brend_spisok_element_block .brend_spisok_element_box:nth-of-type(5n+2),
    .brend_spisok_element_block .brend_spisok_element_box:nth-of-type(5n+3),
    .brend_spisok_element_block .brend_spisok_element_box:nth-of-type(5n+4){
        margin-right: 15px;
    }
}

@media all and (min-width: 482px) and (max-width: 768px){
    .brend_spisok_element_block .brend_spisok_element_box {
        width: calc( 25% - 12px );
        margin-bottom: 15px
    }
    .brend_spisok_element_block .brend_spisok_element_box:nth-of-type(4n+1){
        margin-right: 15px;
    }
    .brend_spisok_element_block .brend_spisok_element_box:nth-of-type(4n+2){
        margin-right: 15px;
    }
    .brend_spisok_element_block .brend_spisok_element_box:nth-of-type(4n+4){
        margin-left: 15px;
    }
}

@media all and (max-width: 481px){
    .brend_spisok_element_block .brend_spisok_element_box {
        margin-bottom: 10px;
        height: 160px;
        width: calc( 50% - 5px );
        margin-right: 0 ;
    }
    .brend_spisok_element_block .brend_spisok_element_box:nth-of-type(odd){
        margin-right: 5px;
    }
    .brend_spisok_element_block .brend_spisok_element_box:nth-of-type(even){
        margin-left: 5px;
    }
}