.section_in_glav .title_box {
    font-size: 18px;
    text-align: center;
}

.category-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
}
.category-block .category-item{
    width: 20%;
    height: 190px;
    position: relative;
    margin-bottom: 5px;
}
.category-block a.category-item:first-of-type{
    width: 40%;
}
.category-block a.category-item {
    display: inline-block;
    vertical-align: top;
}
.category-item:hover .title {
    color: #365d88;
}

.category-item:active .title {
    color: #23476f;
}
.category-block .category-item-img {
    padding: 5px;
    height: 100%;
}

.category-block .category-item-img .img-box {
    border-radius: 0%;
    position: relative;
    width: 100%;
    height: 100%;
    transition: .25s;
    filter: brightness(0.60);
    overflow: hidden;
    box-shadow: 1px 1px 3px #00000010;
}

.category-block .category-item-img .img-box .img {
    border-radius: 0%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 20% 0;
    background-size: 120%;
    transition: .25s;
}

.category-block a.category-item .title {
    line-height: normal;
    transition:  .25s;
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    bottom: 15px;
    min-height: 45px;
    line-height: 1.6;
    text-align: left;
    left: 22px;
    width: 70%;
}
.category-block a.category-item .title div{
    position: relative;
    display: table;
}
.category-block a.category-item .title div:after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: #ffffff99;
    bottom: 0;
    left: 0;
    transition: .3s;
}

.category-block:before{
    position: absolute;
    height: calc( 100% + 0px );
    width: 200vw;
    margin-left: -50%;
    background-color: #F1F1F1;
    z-index: -1;
    top: 0;
}
.category-block a.category-item:hover .img-box .img{
    background-position: 0 0;
}
.category-block a.category-item:hover .img-box{
    filter: brightness(0.40);
}
.category-block a.category-item:hover .title{
    bottom: 26px;
}
.category-block a.category-item:hover .title div:after{
    width: 100%;
}
.first_block{
    padding-left: 5px;
}
.first_block .category_title{
    font-size: 27px;
    font-weight: 700;
    padding-bottom: 14px;
}
.first_block .category_text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    padding-bottom: 24px;
    color: #333;
}
.first_block .category_btn{
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    font-size: 12px;
    border-bottom: 1px solid #999;
    transition: .25s;
}
.first_block .category_btn:hover,.first_block .category_btn:focus{
    border-bottom: 1px solid #777;
    padding-right: 8px;
}
.first_block .category_btn:active{
    opacity: 0.9;
    padding-right: 2px;
}

@media all and (max-width: 768px){
    .category-block{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .category-block a.category-item:first-of-type,.category-block .category-item{
        width: 50%;
    }
    .category-block a.category-item{
        width: 50%;
    }
    .category-block .category-item{
        margin-bottom: 0;
    }
    .category-block .category-item{
        height: 185px;
    }
    .category-block .category-item-img .img-box .img{
        background-size: cover;
    }
}
@media all and (max-width: 481px){
    .category-block a.category-item:first-of-type, .category-block .category-item,.category-block a.category-item,.category-block .category-item{
        width: 100%;
    }
    .first_block .category_title{
        font-size: 20px;
    }
    .category-block a.category-item .title{
        font-size: 14px;
    }
}

.category-block .category-item-img .img-box .img.img-load{
    background-size: cover;
}
