.catalog-compare-result .head .control {
	display: block;
	width: 100%;
	background-color: #f9f9f9;
	padding: 20px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 3px #00000020;
}
.compare-switch .switch {
	display: none;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	float:left;
	height: 16px;
	margin: 10px 0;
	position: relative;
	width: 30px;
}
.compare-switch .switch:before{
	content: '';
	display: block;
	position: absolute;
	height: 3px;
	left: 3px;
	right: 3px;
	top: 50%;
	margin-top: -1px;
	background: #94bfdc;
	border-radius: 3px;
}
.compare-switch .switch-check { position: absolute; visibility: hidden;}
.compare-switch .switch-label {
	cursor: pointer;
	display: block;
	text-indent: -9999px;
	height: 16px;
	width: 30px;
}
.compare-switch .switch-label:before {display:none !important;}
.compare-switch .switch-label:after {display:none !important;}
.compare-switch .switch-label span {
	border: 1px solid #e9e9e9;
	background:#fcfcfc;
	border-radius: 50%;
	box-shadow: 1px 0 2px rgba(0,0,0,0.5);
	display: block;
	top: 50%;
	margin-top: -6px;
	left: 1px;
	position: absolute;
	transition:all 0.2s linear;
	height: 12px;
	width: 12px;
}
.compare-switch .switch-check:checked + .switch-label span {left: 16px;}
/*\ styles for switch \*/


.catalog-compare-result .head .item-list{
	float: left;
	width: 100%;
	position:relative;
}


/* property-list */
.catalog-compare-result .property-list {
	margin:20px 0;
	margin-top: 0;
	overflow: hidden;
}

.catalog-compare-result .property-list .clear {
	overflow: hidden;
}

.catalog-compare-result .property-list .property-name{
	float: left;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	display: block;
	width: 100%;
	text-transform: uppercase;
	font-size: 13px;
	color: #333;
	font-weight: 600;
	padding: 5px 0 10px;
}
.catalog-compare-result .property-list .property-name p{
	/*padding: 0 10px;*/
}
.catalog-compare-result .property-list .property-value{
	float: left;
	position:relative;
	border-bottom: 1px solid #cacaca;
	width: 100%;
}


/*emarket-mSlider*/
.emarket-mSlider{position:relative;}
.emarket-mSlider .mSlider-wrap{
	overflow-x: hidden;
	width: 100%;
}
.emarket-mSlider .mSlider-wrap .mSlider-window{
	position: relative;
	list-style: none;
}
.emarket-mSlider .mSlider-wrap .mSlider-window li.slide {
	float: left;
	width: 299px;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li.slide .slide-wrap{
	width: 100%;
	position:relative;
	padding: 15px;
	padding-top: 30px;
}


.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop{
	float: left;
	/*min-height: 27px;*/
	width: 299px;
}
.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop .slide-wrap{
	min-height: 20px;
	position:relative;
	margin-bottom: 5px;
}
.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop .slide-wrap p{
	/*padding: 0 10px;*/
}
.emarket-mSlider .mSlider-wrap .mSlider-window li.current .slide-wrap a,
.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop a {
	display: block;
	color: #00A1FA;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li.current .slide-wrap a:hover,
.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop a:hover {
	/*text-decoration: underline;*/
}

.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop a:hover {
	color: #0095e6;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li.slide-prop a:active {
	color: #0085cc;
}


/*.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .close{
	position: absolute;
	right: 7px;
	top: 7px;
	display: block;
	width: 10px;
	height: 10px;
	font-size: 0px;
	border: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0.3;
	background: none;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	background-image: url(images/close.png);
}*/
.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .close:hover{opacity:1;}

.emarket-mSlider .mSlider-wrap .mSlider-window li.current .slide-wrap{
	border-left:0;
	width:100%;
}

.property-value.emarket-mSlider .mSlider-wrap .mSlider-window .slide-wrap {
	padding: 0 15px 0 5px;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .picture a{
	display: block;
	vertical-align:middle;
	text-align:center;
}
.emarket-mSlider .mSlider-wrap .mSlider-window li .picture a img {
	display:inline-block;
	width: 150px;
}
.emarket-mSlider .mSlider-wrap .mSlider-window li a.link{
	display: block;
	color: #00A1FA;
	text-decoration:none;
	text-align: center;
	margin: 13px 0 10px;
	line-height: 18px;
	font-size: 14px;
	height: 36px;
	overflow: hidden;
	white-space: normal;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li a.link:hover {
	text-decoration: none;
	color: #0095e6;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li a.link:active {
	text-decoration: none;
	color: #0085cc;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li b{
	color:#1763a6;
	font-size:16px;
	padding: 0 10px;
	display: block;
}


.emarket-mSlider a.mSlider-prev,
.emarket-mSlider a.mSlider-next {
	position:absolute;
	width:9px;
	height:19px;
	top: -74px;
	opacity: 1;
	background-repeat:no-repeat;
	background-size: 19px;
	background-position: center;
	opacity: 0.9;
}
.emarket-mSlider a.mSlider-prev:hover,
.emarket-mSlider a.mSlider-next:hover{opacity:1;}
.emarket-mSlider a.mSlider-next:active{transform: scale(0.90);}
.emarket-mSlider a.mSlider-prev {
	right:62px;
	background-image: url(../../../../../templates/mian/images/icons/slider_arrow_left.svg);
}
.emarket-mSlider a.mSlider-next {
	right:20px;
	background-image: url(../../../../../templates/mian/images/icons/slider_arrow_right.svg);
}
.emarket-mSlider a.disable,.emarket-mSlider a.disable:hover,.emarket-mSlider a.disable:active{
	opacity: .5;
	cursor: default;
}


/* /////////////////////////////////////////////////////// */

.picture {
	display: block;
	margin-bottom: 25px;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .picture a {
	display: block;
	vertical-align: middle;
	text-align: center;
	position: relative;
	height: 0;
	padding-top: 75%;
}

.img_item_compare {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.price {
	color: #1e1e1e;
	height: 85px;
	text-align: center;
}

.price span.current_price {
	width: auto;
	display: block;
	margin: 0 auto;
	font-size: 24px;
	font-weight: 700;
	padding: 12px 0;
	line-height: 1;
}

.price span.old_price {
	display: block;
	margin-top: 5px;
	text-decoration: line-through;
	opacity: .6;
	font-size: 19px;
}

.emarket-mSlider .mdi-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	transition: ease-out .3s;
}

.emarket-mSlider .mdi-close:after, .emarket-mSlider .mdi-close:before {
	content: '';
	display: block;
	position: absolute;
	top: 9px;
	width: 100%;
	height: 2px;
	background-color: rgba(0, 0, 0, .8);
	transition: .2s ease-in-out;
}

.emarket-mSlider .mdi-close:after {
	transform: rotate(45deg);
}
.emarket-mSlider .mdi-close:before {
	transform: rotate(-45deg);
}

.emarket-mSlider .mdi-close:hover:after,
.emarket-mSlider .mdi-close:hover:before {
	background-color: #000;
}

.emarket-mSlider .mdi-close:active:after{
	transform: rotate(-0deg);
}
.emarket-mSlider .mdi-close:active:before {
	transform: rotate(-0deg);
}

.emarket-mSlider .mdi-close input.close {
	text-indent: -9999px;
	border: none;
	background-color: transparent;
	width: 100%;
	height: 100%;
	padding: 0;
	position: relative;
	z-index: 100;
	outline: none;
	cursor: pointer;
}

.emarket-mSlider .mdi-close .hint {
	width: 200px;
	top: 30px;
	right: -15px;
}

.catalog-compare-result .property-list h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 1px solid rgba(202, 202, 202, 0.5);
	padding-bottom: 7px;
}


.property-value.emarket-mSlider ul.mSlider-window:after,
.property-value.emarket-mSlider ul.mSlider-window:before {
	content: '';
	display: table;
	clear: both;
}

.compare-del-btn a {
	position: relative;
	z-index: 100;
	color: #222;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 12px 30px;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
	overflow: hidden;
	display: table;
	background-color: #cacaca;
	color: #fff;
	border-radius: 2px;
	transition: .2s;
}
.compare-del-btn a:hover {
	background-color: #c2c2c2;
}
.compare-del-btn a:active {
	background-color: #afafaf;
}

.compare-switch-link span, .compare-switch-link a {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 10px;
	margin-right: 10px;
	color: #00A1FC;

}

.compare-switch-link span {
	color: #fff;
	background: #00A1FC !important;
}

.compare-switch-link a.active {
	cursor: pointer;
	color: #1e1e1e;
	opacity: .7;
	cursor: pointer;
	padding: 4px 6px;
	font-size: 13px;
}
.compare-switch-link a.active:hover,.compare-switch-link a.active:focus {
	opacity: 1;
}
.compare-switch-link a.active:active{
	color: #00A1FC;
}