.rec_tovar_glav {
	margin-top: 60px;
}

.rec_tovar_glav .owl-controls {
	/*top: -30px;*/
}

.rec_tovar_glav .title_box {
	font-size: 28px;
	font-weight: 700;
	text-transform: normal;
	margin: 0 auto 35px;
	text-align: left;
	color: #2f2f2f;
}

@media all and (max-width: 768px){
    .rec_tovar_glav .title_box{
        margin: 0;
        font-size: 20px;
    }
    .rec_tovar_glav{
        margin-top: 30px;
    }
    .category-block .category-item-img{
        margin-bottom: 10px;
    }
}
@media all and (max-width: 481px){
     .rec_tovar_glav .title_box{
     font-size: 16px;
     }
}