.favorite-container .box-top {
	position: relative;
}

.favor-delete-btn {
	display: block;
	position: absolute;
	right: 0;
	height: 11px;
	bottom: 0;
	top: 0;
	margin: auto;
	color: #00A1FA;
	transition: ease-out .3s;
}
.favor-delete-btn span{
    color: #fff;
}
.favor-delete-btn  {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 30px;;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    overflow: hidden;
    display: table;
    background-color: #cacaca;
    color: #fff;
    border-radius: 2px;
    transition: .2s;
}
.favor-delete-btn:hover{
    background-color: #c2c2c2;
    color: #fff;
}
.favor-delete-btn:active{
    background-color: #afafaf;
    color: #fff;
}

.favor-delete-btn:hover {
	/*text-decoration: underline;*/
	color: #0095e6;
}

.favor-delete-btn:active {
	color: #0085cc;
}

.favorite-container .catalog_section_option_bolock {
	margin: 15px 0 30px;
}

.favorite-element-container .elemrnt_box {
	position: relative;
	width: 23.5%;
	display: block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
	min-height: 520px;
}

.favorite-element-container .elemrnt_box:nth-child(4n) {
	margin-right: 0;
}

.favorite-element-container .elemrnt_box:hover {
	box-shadow: 0px 0px 4px #00000010;
}

.favorite-element-container .elemrnt_box .product-item-container {
	width: 100%;
	font-size: 14px;
	padding: 0 !important;
}
.favorite-element-container .elemrnt_box .product-item-container.fav_hover{
    position: absolute;
    z-index: 591;
}
.favorite-element-container .elemrnt_box .product-item-container .buy-btn-in{
    white-space: nowrap;
}
.favorite-element-container .elemrnt_box .product-item-container:hover .product-item-price-container{
    display: flex;
}

.favorite-element-container .elemrnt_box .product-item-container .product-item {
	padding: 0;
}

.favorite-element-container .elemrnt_box .elem-delete {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	z-index: 590;
}

.favorite-element-container .elemrnt_box .elem-delete span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.favorite-element-container .elemrnt_box .elem-delete span:after,
.favorite-element-container .elemrnt_box .elem-delete span:before {
	content: '';
	display: block;
	position: absolute;
	top: 9px;
	width: 100%;
	height: 2px;
	background-color: rgba(0, 0, 0, 1);
	transition: .2s ease-in-out;
}

.favorite-element-container .elemrnt_box .elem-delete span:after {
	transform: rotate(45deg);
}
.favorite-element-container .elemrnt_box .elem-delete span:before {
	transform: rotate(-45deg);
}

.favorite-element-container .elemrnt_box .elem-delete:hover span:after,
.favorite-element-container .elemrnt_box .elem-delete:hover span:before {
	background-color: #000;
}

.favorite-element-container .elemrnt_box .elem-delete:active span:after,
.favorite-element-container .elemrnt_box .elem-delete:active span:before {
	transform: scale(.8);
}

.favorite-element-container .elemrnt_box .elem-delete .hint {
	width: 150px;
	top: -34px;
	right: -15px;
}

.favorite-element-container .elemrnt_box .elem-delete .hint:after {
	border: 6px solid transparent;
	border-top: 8px solid #fef3de;
	top: 100%;
}

.favorite-element-container .elemrnt_box .item_lable_blck {
	top: 40px;
}

.tooltipster-base {
    display: block !important;
}
.favorite-container{
    padding: 0px 15px 63px 15px;
}
.favorite-container .product-item-container .product-item-price-container .right .product-item-conteiner-low{
    display: none;
}
.favorite-container .product-item-container:hover .product-item-container.product-item-price-container{
    display: flex;
}

@media all and (max-width: 1024px){
    .favorite-element-container .elemrnt_box {
        min-height: 545px;
    }
}

@media all and (max-width: 768px){
 .favorite-container{
     padding-bottom: 20px;
 }
}