.main_slider_right_item{
    background-color: #00000077;
    display: flex;
    width: calc( 100% - 15px );
    height: 194px;
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px #00000010;
    color: #fff;
    position: relative;
    transition: .3s;
}
.main_slider_right_item:hover{
    background-color: #00000099;
}
.main_slider_right_item:hover .title_two:after{
    opacity: 1;
    top: 8px;
}

.bx-advertisingbanner-pattern{
    background-color: #00000077 !important;
    transition: .3s;
}
.carousel-inner:hover .bx-advertisingbanner-pattern{
     background-color: #00000099 !important;
}
.main_slider_right_item img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index:-1;
}
.main_slider_right_item:hover,.main_slider_right_item:focus{
    color: #fff;
}
.main_slider_right_item:active{
    color: #fff;
        background-color: #000000aa;
}
.main_slider_right_part{
    width: 100%;
}
.main_slider_right_item:nth-of-type(1){
    padding-left: 30px;
}
.main_slider_right_item:nth-of-type(2){
    align-items: flex-end;
    padding-right: 70px;
}
.main_slider_right_item:nth-of-type(2) .subtitle{
    text-align: right;
}
.main_slider_right_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_slider_right_item .subtitle{
    font-size: 12px;
    font-weight: 600;
    color: #ccc;
    padding-bottom: 13px;
}
.main_slider_right_item .title{
    font-size: 22px;
    font-weight: 700;
}
.main_slider_right_item .title_two{
    font-size: 27px;
    font-weight: 700;
    width: max-content;
    position: relative;
    display: table;
}
.main_slider_right_item .title_two:after{
    content: '';
    position: absolute;
    width: 21px;
    background-size: 21px;
    height: 21px;
    background-image: url(banner_light_right_arrow.svg);
    top: 16px;
    right: -40px;
    opacity: 0;
    transition: .3s;
}
.carousel-control span{
    background-color: #cacaca;
    border-radius: 100%;
    display: block;
    background-size: 17px;
    background-repeat: no-repeat;
}
.carousel-control .icon-next{
    background-image: url(images/icons/slider_arrow_right.svg);
        background-position: 57% 50%;
}
.carousel-control .icon-prev{
    background-image: url(images/icons/slider_arrow_left.svg);
    background-position: 43% 50%;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
    margin-right: -45px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    margin-left: -45px;
}
.main_slider_wrp .bx-slider-preset-2 .bx-advertisingbanner-content{
    padding-left: 40px;
    padding-right: 40px;
}

.main_slider_wrp .bx-slider-preset-2 .bx-advertisingbanner-btn{
    right: 50px;
}

.main_slider_wrp .bx-slider-preset-1 .bx-advertisingbanner-btn{
    bottom: -25px;
}
.main_slider_wrp .bx-slider-preset-4 .bx-advertisingbanner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}
.main_slider_container .bx-advertisingbanner-btn{
    margin-top: 15px;
}
.main_slider_wrp .bx-advertisingbanner-text-title{
    font-weight: 600;
}
.main_slider_wrp .bx-slider-preset-4 .bx-advertisingbanner-text-block{
    padding-top: 5px;
}
@media all and (max-width: 1220px){
    .main_slider_container{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media all and (max-width: 768px){
    .main_slider_wrp{
        width: 100% !important;
        min-width: 100% !important;
        margin-bottom: 15px;
    }
    .main_slider_container{
        flex-direction: column;
    }
    .main_slider_right_item{
        margin-left: 0;
        width: calc( 50% - 7px );
        float: left;
    }
    .main_slider_right_item:nth-of-type(1){
        margin-right: 14px;
    }
    .banner.carousel{
       height: unset !important;
    }
}

/***************** LAST *************************/

    .main_slider_wrp .bx-slider-preset-1 .bx-advertisingbanner-content{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 70%;
        margin-left: 60px;
        height: 100%;
        top: 0;
        bottom: 0;
    }
    .main_slider_wrp .bx-slider-preset-1 .bx-advertisingbanner-text-block{
        width: 90%;
        margin-bottom: 15px;
    }
    .main_slider_wrp .bx-slider-preset-1 .bx-advertisingbanner-content a:nth-child(1),
    .main_slider_wrp .bx-slider-preset-1 .bx-advertisingbanner-text-block{
        width: 100%;
    }
     .main_slider_wrp .bx-slider-preset-1 .bx-advertisingbanner-text-title{
        padding-top: 0;
        width: 100%;
        min-width: 100%;
        padding: 0 !important;
        margin-bottom: 8px;
    }
    .main_slider_wrp .bx-slider-preset-1 .bx-advertisingbanner-btn{
        position: static;
        margin-left: 10px;
        margin-top: 0;
    }
    .main_slider_wrp .bx-slider-preset-1 .bx-advertisingbanner-text-block{
        padding: 0 !important;
    }

    .main_slider_wrp .bx-slider-preset-3 .bx-advertisingbanner-btn{
        margin-top: 20px;
    }

    .main_slider_wrp .bx-slider-preset-4 .bx-advertisingbanner-content{
        padding: 15px 45px 0;
    }

    .main_slider_wrp .bx-slider-preset-2 .bx-advertisingbanner-text-block{
        width: calc( 100% - 200px );
        padding: 0 !important;
        padding-left: 20px !important;
        padding-bottom: 23px !important;
    }
    .main_slider_wrp .bx-slider-preset-2 .bx-advertisingbanner-btn{
        top: 74px;
        bottom: unset !important;
    }

@media all and (max-width: 481px){
    .main_slider_wrp .bx-slider-preset-1 .bx-advertisingbanner-content{
        margin-left: 40px;
    }
    .main_slider .bx-advertisingbanner-text-block{
        display: none;
    }
    .main_slider_wrp .carousel-control .icon-prev,.main_slider_wrp .carousel-control .icon-next{
        width: 25px !important;
        height: 25px !important;
    }
    .main_slider_wrp .carousel-control .icon-next{
        margin-right: -20px
    }
    .main_slider_wrp .carousel-control .icon-prev{
        margin-left: -20px
    }
    .carousel-inner.main_slider,
    .carousel-inner.main_slider .item,
    .carousel-inner.main_slider .item a img{
        height: 200px !important;
    }
    .main_slider_wrp .bx-slider-preset-2 .bx-advertisingbanner-btn{
        position: static;
        margin-top: 0px;
    }
    .main_slider_wrp .bx-slider-preset-2 .bx-advertisingbanner-text-title{
        padding-left: 0px !important;
    }
    .main_slider_wrp .bx-slider-preset-2 .bx-advertisingbanner-content{
        padding-bottom: 35px !important;
        padding-top: 15px !important;
    }
    .main_slider_wrp .bx-slider-preset-3 .bx-advertisingbanner-text-title{
        margin-left: 10px;
    }
    .main_slider_wrp .bx-slider-preset-3 .bx-advertisingbanner-content{
        padding-bottom: 25px !important;
    }
}