.brend-block,
.category-block {
}

.brend-block .owl-stage-outer,
.category-block .owl-stage-outer {
    z-index: 10;
}

.brend-block.owl-carousel .owl-nav,
.category-block.owl-carousel .owl-nav {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: 9;
}

.brend-block.owl-carousel .owl-nav .owl-next,
.category-block.owl-carousel .owl-nav .owl-next {
    right: -14px;
}

.brend-block.owl-carousel .owl-nav .owl-prev,
.category-block.owl-carousel .owl-nav .owl-prev {
    left: -14px;
}

.brend-block a.brend-item {
    display: block;
    transition: .2s;
}
.brend-block a.brend-item:hover{
}
.brend-block a.brend-item:active{
    opacity: 0.7;
}
.brend-block.owl-carousel{
    width: 98%;
    margin-left: 1%;
}
.brend-block .brend-item-img {
    padding: 20px;
}

.brend-block .brend-item-img .img-box {
    position: relative;
    width: 100%;
    padding-top: 50%;
    height: 0;
}

.brend-block .brend-item-img .img-box .img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.allbrand_cont{
    display: flex;
    justify-content: center;
}
.allbrands{
    position: relative;
    z-index: 1;
    margin-top: 25px;
}